## Retriving Dataset
## https://github.com/CSSEGISandData/COVID-19.git
## ! python3 -m pip install wget
## ! python3 -m pip install pandas
## !python3 -m pip install pycountry_convert

In [1]:
import pandas as pd
import numpy as np

import wget
import os, datetime
import shutil

import pycountry_convert as pc

In [2]:
# global csv files
csv_confirmed = "time_series_covid19_confirmed_global.csv"
csv_deaths = "time_series_covid19_deaths_global.csv"
csv_recovered = "time_series_covid19_recovered_global.csv"

In [3]:
# urls of the files
urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv',
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv']

# download files
for url in urls:
    filename = wget.download(url)

In [4]:
currDir = "./COVID-19-data"
backupDir = "./COVID-19-data-" + datetime.datetime.now().strftime('%Y-%m-%d_%H-%M-%S')

isdir = os.path.isdir(currDir) 

if isdir:
    try:
        os.rename(currDir, backupDir)
    except OSError:
        print ("Rename of the directory %s failed" % backupDir)

try:
    os.mkdir(currDir)
except OSError:
    print ("Creation of the directory %s failed" % currDir)
else:
    print ("Successfully created the directory %s " % currDir)

Successfully created the directory ./COVID-19-data

In [5]:
for file in os.listdir(os.getcwd()):
    if '.csv' in file:
        print(file)
        shutil.move(file, currDir)

time_series_covid19_confirmed_global.csv
time_series_covid19_recovered_global.csv
time_series_covid19_deaths_global.csv

In [6]:
# Datasets loaded to DataFrame
df_confirmed = pd.read_csv("./COVID-19-data/time_series_covid19_confirmed_global.csv")
df_deaths = pd.read_csv("./COVID-19-data/time_series_covid19_deaths_global.csv")
df_recovered = pd.read_csv("./COVID-19-data/time_series_covid19_recovered_global.csv")

In [7]:
df_confirmed.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20'],
      dtype='object')

In [8]:
dates = df_confirmed.columns[4:]

conf_df_long = df_confirmed.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Confirmed')

deaths_df_long = df_deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Deaths')

recv_df_long = df_recovered.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                            value_vars=dates, var_name='Date', value_name='Recovered')

recv_df_long = recv_df_long[recv_df_long['Country/Region']!='Canada']

print(conf_df_long.shape)
print(deaths_df_long.shape)
print(recv_df_long.shape)

(23760, 6)
(23760, 6)
(22410, 6)

In [9]:
full_table = pd.merge(left=conf_df_long, right=deaths_df_long, how='left',
                      on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'])
full_table = pd.merge(left=full_table, right=recv_df_long, how='left',
                      on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'])

full_table.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0.0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0.0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0.0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0.0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0.0

In [10]:
# Changing the conuntry names as required by pycountry_convert Lib
full_table.loc[full_table['Country/Region'] == "US", "Country/Region"] = "USA"

full_table.loc[full_table['Country/Region'] == 'Korea, South', "Country/Region"] = 'South Korea'

full_table.loc[full_table['Country/Region'] == 'Taiwan*', "Country/Region"] = 'Taiwan'

full_table.loc[full_table['Country/Region'] == 'Congo (Kinshasa)', "Country/Region"] = 'Democratic Republic of the Congo'

full_table.loc[full_table['Country/Region'] == 'Congo (Brazzaville)', "Country/Region"] = 'Republic of the Congo'

full_table.loc[full_table['Country/Region'] == 'Bahamas, The', "Country/Region"] = 'Bahamas'

full_table.loc[full_table['Country/Region'] == 'Gambia, The', "Country/Region"] = 'Gambia'

full_table.loc[full_table['Country/Region'] == "Cote d'Ivoire", "Country/Region"] = "Côte d'Ivoire"

full_table.loc[full_table['Country/Region'] == "Reunion", "Country/Region"] = "Réunion"

In [11]:
print(full_table.shape)

(23760, 8)

In [12]:
full_table['Recovered'] = full_table['Recovered'].fillna(0)
full_table['Recovered'] = full_table['Recovered'].astype('int')

In [13]:
# getting all countries
countries = np.asarray(full_table["Country/Region"])

# Continent_code to Continent_names
continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU' : 'Europe',
    'na' : 'Others'
}

# Defininng Function for getting continent code for country.
def country_to_continent_code(country):
    try:
        return pc.country_alpha2_to_continent_code(pc.country_name_to_country_alpha2(country))
    except :
        return 'na'

#Collecting Continent Information
full_table.insert(2,"Continent", [continents[country_to_continent_code(country)] for country in countries[:]] )

In [14]:
# removing
# =======

# removing canada's recovered values
full_table = full_table[full_table['Province/State'].str.contains('Recovered')!=True]

In [15]:
full_table.shape

(23670, 9)

In [16]:
full_table

,Province/State,Country/Region,Continent,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,Asia,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,Europe,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,Africa,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,Europe,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,Africa,-11.202700,17.873900,1/22/20,0,0,0
5,NaN,Antigua and Barbuda,North America,17.060800,-61.796400,1/22/20,0,0,0
6,NaN,Argentina,South America,-38.416100,-63.616700,1/22/20,0,0,0
7,NaN,Armenia,Asia,40.069100,45.038200,1/22/20,0,0,0
8,Australian Capital Territory,Australia,Australia,-35.473500,149.012400,1/22/20,0,0,0
9,New South Wales,Australia,Australia,-33.868800,151.209300,1/22/20,0,0,0
10,Northern Territory,Australia,Australia,-12.463400,130.845600,1/22/20,0,0,0
11,Queensland,Australia,Australia,-28.016700,153.400000,1/22/20,0,0,0
12,South Australia,Australia,Australia,-34.928500,138.600700,1/22/20,0,0,0
13,Tasmania,Australia,Australia,-41.454500,145.970700,1/22/20,0,0,0
14,Victoria,Australia,Australia,-37.813600,144.963100,1/22/20,0,0,0
15,Western Australia,Australia,Australia,-31.950500,115.860500,1/22/20,0,0,0
16,NaN,Austria,Europe,47.516200,14.550100,1/22/20,0,0,0
17,NaN,Azerbaijan,Asia,40.143100,47.576900,1/22/20,0,0,0
18,NaN,Bahamas,North America,25.034300,-77.396300,1/22/20,0,0,0
19,NaN,Bahrain,Asia,26.027500,50.550000,1/22/20,0,0,0
20,NaN,Bangladesh,Asia,23.685000,90.356300,1/22/20,0,0,0
21,NaN,Barbados,North America,13.193900,-59.543200,1/22/20,0,0,0
22,NaN,Belarus,Europe,53.709800,27.953400,1/22/20,0,0,0
23,NaN,Belgium,Europe,50.833300,4.000000,1/22/20,0,0,0
24,NaN,Benin,Africa,9.307700,2.315800,1/22/20,0,0,0
25,NaN,Bhutan,Asia,27.514200,90.433600,1/22/20,0,0,0
26,NaN,Bolivia,South America,-16.290200,-63.588700,1/22/20,0,0,0
27,NaN,Bosnia and Herzegovina,Europe,43.915900,17.679100,1/22/20,0,0,0
28,NaN,Brazil,South America,-14.235000,-51.925300,1/22/20,0,0,0
29,NaN,Brunei,Asia,4.535300,114.727700,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...,...
23729,NaN,Grenada,North America,12.116500,-61.679000,4/20/20,14,0,6
23730,NaN,Mozambique,Africa,-18.665695,35.529562,4/20/20,39,0,0
23731,NaN,Syria,Asia,34.802075,38.996815,4/20/20,39,3,0
23732,NaN,Timor-Leste,Others,-8.874217,125.727539,4/20/20,22,0,0
23733,NaN,Belize,North America,13.193900,-59.543200,4/20/20,18,2,2
23735,NaN,Laos,Asia,19.856270,102.495496,4/20/20,19,0,2
23736,NaN,Libya,Africa,26.335100,17.228331,4/20/20,51,1,15
23737,NaN,West Bank and Gaza,Others,31.952200,35.233200,4/20/20,449,3,71
23738,NaN,Guinea-Bissau,Africa,11.803700,-15.180400,4/20/20,50,0,3
23739,NaN,Mali,Africa,17.570692,-3.996166,4/20/20,246,14,56
23740,NaN,Saint Kitts and Nevis,North America,17.357822,-62.782998,4/20/20,15,0,0
23741,Northwest Territories,Canada,North America,64.825500,-124.845700,4/20/20,5,0,0
23742,Yukon,Canada,North America,64.282300,-135.000000,4/20/20,11,0,0
23743,NaN,Kosovo,Others,42.602636,20.902977,4/20/20,510,12,93
23744,NaN,Burma,Others,21.916200,95.956000,4/20/20,119,5,7
23745,Anguilla,United Kingdom,Europe,18.220600,-63.068600,4/20/20,3,0,1
23746,British Virgin Islands,United Kingdom,Europe,18.420700,-64.640000,4/20/20,5,1,3
23747,Turks and Caicos Islands,United Kingdom,Europe,21.694000,-71.797900,4/20/20,11,1,0
23748,NaN,MS Zaandam,Others,0.000000,0.000000,4/20/20,9,2,0
23749,NaN,Botswana,Africa,-22.328500,24.684900,4/20/20,20,1,0
23750,NaN,Burundi,Africa,-3.373100,29.918900,4/20/20,5,1,4
23751,NaN,Sierra Leone,Africa,8.460555,-11.779889,4/20/20,43,0,6
23752,"Bonaire, Sint Eustatius and Saba",Netherlands,Europe,12.178400,-68.238500,4/20/20,5,0,0
23753,NaN,Malawi,Africa,-13.254308,34.301525,4/20/20,17,2,3
23754,Falkland Islands (Malvinas),United Kingdom,Europe,-51.796300,-59.523600,4/20/20,11,0,3
23755,Saint Pierre and Miquelon,France,Europe,46.885200,-56.315900,4/20/20,1,0,0
23756,NaN,South Sudan,Africa,6.877000,31.307000,4/20/20,4,0,0
23757,NaN,Western Sahara,Others,24.215500,-12.885800,4/20/20,6,0,0
23758,NaN,Sao Tome and Principe,Africa,0.186360,6.613081,4/20/20,4,0,0
23759,NaN,Yemen,Asia,15.552727,48.516388,4/20/20,1,0,0